<!-- users view folder will provide functionality to sign up for classiCAL
this file allows student to delete their account and all accompanying course data -->

<div id="user-page">
<h1>Hope your having a great day <%= @user.username%></h1><br>

<h1>If you want to delete your account click below. All of your course data will be deleted when you click below. Be ye warned.</h1><br><br>

<%=button_to 'DELETE', @user, :method => :delete %>

</div>