<body id='courses-background'>
	<div id='top-bar'>
		<div id='top-logo'>
			<div id='everything-courses'>
				<div id='wrap'>

					<!-- LEFT COLUMN, CONTAINS THE SELECT & DRAGABLE EVENTS -->
					<div id='external-events'>
						<h4>Draggable Events</h4>

							<!-- DEPARTMENT SELECT MENU -->
							<select id="dept-select">
							<% @departments.each do |department| %>
								<option value="<%=department.id%>"> <%=department.department_name%> </option>
							<% end %>
							</select>

								<!-- DIV WHERE COURSES ACTUALLY POPULATE -->
								<div id="courses"></div>				

									<!-- CHECK-BOX -->
										<p> 
											<input type='checkbox' id='drop-remove' checked="checked" style="display: none"/>
										</p>
									</div>

										<!-- ACTUAL CALENDAR -->
										<div id='calendar'></div>
										<div style='clear:both'></div>
				</div>
				<div>
					<div id="users-courses">
						<div id='save-box'>
							<button id="save">Save My Courses</button>
						</div>
						<div>
							<button id="clear">Clear My Courses</button>
						</div>
						<div id='gtfo'>
							<%= link_to 'Logout', '/logout', method: :delete, :class=>'logout-button' %>
						</div> 
					</div>
				</div>
				
			</div>
		</div>
	</div>
</body>