/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /*.form {
  width: 500px;
  margin-left: 24%;
  margin-top: 100px;
  text-align: center;
  border: 1px solid white;
 }

h1 {
font-size: 20px;
}
*/
/* ------------- ------------- Background CSS ------------- ------------- */
<<<<<<< HEAD
=======
<<<<<<< HEAD
>>>>>>> 5ecf2dce93e23b79e645bd44506f74e2169fc82e

/* LOGIN PAGE */

#login-background {
	position: relative;
	background-image: url(http://i.imgur.com/zXsHNfg.png?1);
	background-size: cover;
	background-repeat: no-repeat;
	margin: auto;
}

#top-bar {
	width: 100%;
	height: 75px;
	background-color: rgba(255,255,255,1);
}

#top-logo {
	right: 135px;
	position: absolute;	
	background-image: url(http://i.imgur.com/sT3y7qZ.png);
	background-repeat: no-repeat;
	height: 75px;
	width: 100%;
	margin: auto;
	transform: scale(0.8, 0.8);
	background-size: contain;
}

#login-box {
	background-color: rgba(0, 0, 0, .5);
	width: 200px;
<<<<<<< HEAD
	height: 75px;
	font-style: italic;
	font: sans-serif;
	float: right;
	padding-right: 50px;
}

#username {
	color: black;
	border-color: transparent;
	position: relative;
	margin: 5px;
	font-style: italic;
	text-align: center;
	font-size: 13px;
	width: 150px;
}

#password {
	color: black;
	border-color: transparent;
	position: relative;
	margin: 5px;
	font-style: italic;
	text-align: center;
	font-size: 13px;
	width: 150px;
}

#submit-login {
	font-style: italic;
	font: sans-serif;
	margin-right: -50px;
    margin-top: -50px;
}

.login-button:hover {
	color: white;
	background-color: rgba(165,194,146,1);
}

.login-button {
	color: black;
	font-style: italic;
	background-color: white;
	font: sans-serif;
	position: relative;
	margin-right: -175px;	
	height: 75px;
=======
	height: 75px;
	font-style: italic;
	font: sans-serif;
	float: right;
	padding-right: 50px;
}

#username {
	color: black;
	border-color: transparent;
	position: relative;
	margin: 5px;
	font-style: italic;
	text-align: center;
	font-size: 13px;
	width: 150px;
}

#password {
	color: black;
	border-color: transparent;
	position: relative;
	margin: 5px;
	font-style: italic;
	text-align: center;
	font-size: 13px;
	width: 150px;
}

#submit-login {
	font-style: italic;
	font: sans-serif;
	margin-right: -50px;
    margin-top: -50px;
}

.login-button:hover {
	color: white;
	background-color: rgba(165,194,146,1);
}

.login-button {
	color: black;
	font-style: italic;
	background-color: white;
	font: sans-serif;
	position: relative;
	margin-right: -175px;	
	height: 75px;
>>>>>>> 5ecf2dce93e23b79e645bd44506f74e2169fc82e
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    top: -29px;
    width: 75px;
    font-size: 16px;
}
<<<<<<< HEAD

.login-class {
	color: black;
    border-color: transparent;
    position: relative;
    margin: 5px;
    font-style: italic;
    text-align: center;
    font-size: 13px;
    width: 150px;

}

=======

.login-class {
	color: black;
    border-color: transparent;
    position: relative;
    margin: 5px;
    font-style: italic;
    text-align: center;
    font-size: 13px;
    width: 150px;

}

>>>>>>> 5ecf2dce93e23b79e645bd44506f74e2169fc82e
#slogan {
	position: fixed;
	background-position: center; 
	background-image: url(http://i.imgur.com/UmrBiG8.png);
	background-repeat: no-repeat;
	width: 100%;
	margin-top: 250px;
	height: 200px;
	transform: scale(0.7, 0.7);
	background-size: contain;
}

#signup-box:hover {
	color: white;
	background-color: rgba(165,194,146,1);
}

#signup-box {
	font-style: italic;
	font: sans-serif;
	font-style: italic;
	background-color: rgba(255, 255, 255, .5);
	font: sans-serif;
	color: black;
	position: relative;
	height: 50px;
	width: 150px;
	margin: auto;
	top: 400px;
}

.signupp:hover {
	color: white;
}

.signupp {
	color: black;
	font-size: 35px;
	text-align: center;
}

#signup-button {
	top:10px;
}

/*SIGN UP SHIT*/

#sign-up-background {
	position: relative;
	background-image: url(http://i.imgur.com/zXsHNfg.png?1);
	background-size: cover;
	background-repeat: no-repeat;
	margin: auto;
}

.sign-up-form {
	font-style: italic;
    text-align: center;
    font-size: 25px;
	color: rgba(165,194,146,1);
	position: relative;
	padding-top: 10px;
	top: 180px;	
	position: relative;
	margin: auto;
	background-color: rgba(1, 1, 1, .6);
	width: 350px;
}

.new_user{
	position: relative;
}

#entry-field {
	color: black;
	margin: 5px;
    border-color: transparent;
    position: relative;
    font-style: italic;
    text-align: center;
    font-size: 13px;
}

.signup-button:hover {
		color: white;
	background-color: rgba(165,194,146,1);
}

.signup-button {
	color: black;
    font-style: italic;
    background-color: white;
    font: sans-serif;
    position: relative;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    width: 150px;
    font-size: 16px;
    height: 50px;
}

.entry-field-class {
	color: black;
    border-color: transparent;
    position: relative;
    font-style: italic;
    text-align: center;
    font-size: 15px;
    width: 150px;
}

/* MAIN COURSES PAGE */

#courses-background {
<<<<<<< HEAD
	background-image: url(http://i.imgur.com/Qfq65TL.jpg);
=======
>>>>>>> 5ecf2dce93e23b79e645bd44506f74e2169fc82e
	position: relative;
	background-size: cover;
	background-repeat: no-repeat;
	margin: auto;
}

#top-bar {
	width: 100%;
	height: 75px;
	background-color: rgba(1, 1, 1, .6);
}

#top-logo {
	right: 135px;
	position: absolute;	
	background-image: url(http://i.imgur.com/sT3y7qZ.png);
	background-repeat: no-repeat;
	height: 75px;
	width: 100%;
	margin: auto;
	transform: scale(0.8, 0.8);
	background-size: contain;

}

#everything-courses {
	position: relative;
	float: center;
	margin: auto;
	width: 60%;
	margin-top: 90px;
}

#save-box {
	width: 200px;
	height: 120px;
	margin: auto;
}

#save {
	color: white;
}
#save {
	position: relative;
	margin: 5px;
	border-color: transparent;
	font-style: italic;
    text-align: center;
    font-size: 20px;
	color: rgba(165,194,146,1);;
	background-color: rgba(1, 1, 1, .6);
	width: 200px;
	height: 50px;
}

#clear {
	color: white;
}

#clear {
	position: relative;
	margin: 5px;
	border-color: transparent;
	font-style: italic;
    text-align: center;
    font-size: 20px;
	color: rgba(165,194,146,1);;
	background-color: rgba(1, 1, 1, .6);
	width: 200px;
	height: 50px;
}

#dept-select {
	float: center;
	margin: auto;
	width: 100%;
	text-align: center;
	height: 20px;
}


.logout-button {
<<<<<<< HEAD
	color: rgba(165,194,146,1);
=======

	color: rgba(165,194,146,1);;
>>>>>>> 5ecf2dce93e23b79e645bd44506f74e2169fc82e
}

#gtfo {
	color: white;
}

#gtfo {

	position: relative;
	margin: 5px;
	border-color: transparent;
	font-style: italic;
    text-align: center;
    font-size: 20px;
	background-color: rgba(1, 1, 1, .6);
	width: 200px;
	height: 50px;
}

#users-courses {
	float: right;
}

<<<<<<< HEAD
#calendar { 
	color: white;
	background-color: rgba(1, 1, 1, .6);
}
=======































=======

/* LOGIN PAGE */

#login-background {
	background-image: url(http://i.imgur.com/S3trUBS.png);
	background-size: contain;
	background-repeat: no-repeat;
	height: 800px;
}

	#login-form {
		font-style: italic;
		font: sans-serif;
		float: right;
		right: 10px;
	    margin-top: 7px;
	    margin-right: 30px;
	}

		#username {
			font-style: italic;
			text-align: center;
			font-size: 13px;
			width: 200px;
		}

		#password {
			font-style: italic;
			text-align: center;
			width: 200px;
		}

		#submit-login {
			font-style: italic;
		    font: sans-serif;
			width: 200px;
		}

		a {
			color: #a5c292;
		}

		#signup {
			color: #a5c292;
			text-align: center;
			font-family: sans-serif;
			font-size: 50px;
			font-style: italic;
			height: 100%;
		/*	margin-left: 218px;
		*/}

		#actual_signup {
			position: absolute;
		    left: 43.8%;
		    top: 487px;
		}

/* SIGN UP PAGE */

#sign-up-background {
	background-image: url(http://i.imgur.com/pTqBLvu.png);
	background-size: contain;
	background-repeat: no-repeat;
	height: 800px;
}

.sign-up-form {
    padding-top: 250px;		
    font-style: italic;
	font: sans-serif;		
}
>>>>>>> f33add8fb50c841b60ff7aa06f4f83e6a869d6ee
>>>>>>> 5ecf2dce93e23b79e645bd44506f74e2169fc82e
