/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .form {
  width: 500px;
  margin-left: 24%;
  margin-top: 100px;
  text-align: center;
  border: 1px solid white;
 }

h1 {
font-size: 20px;
}

/* ------------- ------------- Background CSS ------------- ------------- */

/* LOGIN PAGE */

#login-background {
	background-image: url(http://i.imgur.com/S3trUBS.png);
	background-size: contain;
	background-repeat: no-repeat;
	height: 800px;
}

	#login-form {
		font-style: italic;
		font: sans-serif;
		float: right;
		right: 10px;
	    margin-top: 7px;
	    margin-right: 30px;
	}

		#username {
			font-style: italic;
			text-align: center;
			font-size: 13px;
			width: 200px;
		}

		#password {
			font-style: italic;
			text-align: center;
			width: 200px;
		}

		#submit-login {
			font-style: italic;
		    font: sans-serif;
			width: 200px;
		}

		a {
			color: #a5c292;
		}

		#signup {
			color: #a5c292;
			text-align: center;
			font-family: sans-serif;
			font-size: 50px;
			font-style: italic;
			height: 100%;
		/*	margin-left: 218px;
		*/}

		#actual_signup {
			position: absolute;
		    left: 43.8%;
		    top: 487px;
		}

/* SIGN UP PAGE */

#sign-up-background {
	background-image: url(http://i.imgur.com/pTqBLvu.png);
	background-size: contain;
	background-repeat: no-repeat;
	height: 800px;
}

.sign-up-form {
    padding-top: 250px;		
    font-style: italic;
	font: sans-serif;		
}
